/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #f5f7fa;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Lato,sans-serif;
	color: #283D56;
}

/* header footer common */
header, footer {
	width: 100%;
	text-align: center;
}

.container {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.banner {
	background: #5586D6;
	color: #fff;
	padding: 10px;
}

/* positions */
header {
	padding-top: 20px;
	font-size: 1.3em;
}
footer {
	padding: 10px;
	font-size: .8rem;
}
.title, .tips {
	height: 30px;
	padding-top: 20px;
	position: relative;
}
.title {
	border-radius: 40px 40px 0 0;
}
.tips {
	border-radius: 0 0 40px 40px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}
.content {
	font-size: .8rem;
	width: 30%;
	vertical-align: top;
}
.contentName {
	padding: 10px;
	padding-left: 20px;
	width: 25%;
	font-weight:bold;
	vertical-align: top;
}
.contentDetails {
	padding: 10px;
}
.contentAction {
	width: 10%;
	padding-right: 20px;
	text-align: right;
}

.nameText {
	font-weight: bold;
}
.records textarea {
	height: 1.2em;
	font-size: 1em;
	resize: none;
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: transparent;
	font-size: .9em;
}

/* buttons */
.detailBtn {
	position: absolute;
	left: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.addBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.detailBtn img{
	width: 20px;
	height: 20px;
}
.deleteBtn{
  background-image: url("../images/sprite.png");
  background-position: -5px -568px;
  width: 18px;
  height: 18px;
    display:inline-block;
}

tr:hover .deleteBtn {

	cursor: pointer;
}


.tableRows{
	border: 2px solid #DFE3E6
}



.fieldname {
	text-align: right;
	border-right: 1px solid #fff;
}

.errorMsg {
	color: red;
	font-weight:normal;
}
.newappIcon {
  display: block;
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
	padding: 10px;
}

.appTitle {
	padding: 15px;
  margin: 0 auto;
  text-align: center;
	font-size: 1.5rem;
}

.description {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.infoImg {
	cursor: pointer;
}
.flexBox {
	display: flex;
	flex-wrap: wrap;
}
.contentTiles {
		padding: 10px;
		font-size: .8rem;
}
.uploadBox {
  margin: 0 auto;
  text-align: center;
}
.appinfo {
	padding: 10px;
}

#speedGroup {
		display: none;
			position: absolute;
			top: 5%;
			right: 25%;
			z-index: 1;
		}

		#speedLabel {
			position: absolute;
			font-family: Ubuntu, sans-serif;
			color: darkgray;
			font-size: 2.5em;
			font-weight: bold;
			cursor: default;
		}

		#speedText {
			font-family: Ubuntu, sans-serif;
			font-size: 2em;
			font-weight: bold;
			color: darkgray;
			margin-top: 7px;
			cursor: pointer;
			transition: color .3s ease-in-out;
		}

		#speedText:hover {
			color: black;
		}

		#speedLabelAndMenuGroup {
			position: absolute;
			left: 140px;
		}

		.speedMenuItem {
			font-family: Ubuntu, sans-serif;
			font-size: 2em;
			font-weight: bold;
			color: darkgray;
			cursor: pointer;
			transition: color .3s ease-in-out;
		}

		.speedMenuItem:hover {
			color: black;
		}

		#playButton {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
			transform: scale(5);

			color: rgba(169, 169, 169, 0.95);
			text-shadow: 0 0 1px grey;
			transition: text-shadow .3s ease-in-out;
			cursor: pointer;
		}

		#speedGroup:hover {
			text-shadow: none;
		}

		#imageContainer {
			height: 60%;
		}

		#handImage {
			margin: 0 auto;
			height: 25vh;
			max-width: 60vh;
			margin-top: 3%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			opacity: 1;

			transition: opacity .05s ease-in-out;
		}



		#privacyPolicyButton {
			color: grey;
			font-family: Ubuntu, sans-serif;
			position: absolute;
			bottom: 10px;
			right: 10px;
			cursor: pointer;
			text-decoration: none;
		}

		.hand-popup {
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    background-color: rgba(255, 255, 255, 0.22);
		    width: 310px;
		    height: 35px;
		    border-top-left-radius: 4px;
		    animation-duration: 1s;
		    animation-fill-mode: forwards;
		    overflow: hidden;
		    animation-name: popup_open;
		    border-width: 1px 1px 0px 1px;
		    border-style: solid;
		    border-color: #e6e6e6;
		}
